#fbBody{
	width: 100%;
	height: 86.7%;
    background-color: #e2bb90;
}

header{
    padding: 1%;
    width: 100%;
    background-color: #ab8473 ;
}

header #logo {
width: 15%;
 float: left;
}


header #menuHead {
    width: 70%;  
     float: left;
    text-align: center;

}

header #regAuth {
    width: 15%;
    float: left;
    text-align: right;
}

/* Footer */

footer { 
    height: 7%;
    padding: 1%;
    width: 100%;
    float: left;
    background-color: #ab8473;
}

footer #social {
    float: left;
    width: 50%;
}

footer #rights {
float: right;
}


form{
	margin-top: 6%;
    margin-left: 35%;
    margin-right: 35%;
	width: 30%;
	background-color: gray;
	padding: 4%;
}

#block{
    margin-left: 41%;
}

#name{
    margin-left: 5%;
    margin-top: 15%;
    width: 20%;

    text-align: center;

}

#email{

    margin-left: 5%;
    margin-top: 1%;
    width: 20%;

    text-align: center;

}

#subject{

    margin-left: 5%;
    margin-top: 1%;
    width: 20%;
    text-align: center;
}

#message{
    margin-top: 1%;
    width: 30%;
    height: 10rem;
}

#done {
 margin-left: 10%;
    margin-top: 1%;
    width: 10%;
    text-align: center;
}

#messageShow{
    width: 100%;
    text-align: center;
}